.people-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.people-card {
  transform: translateY(0px);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  margin: 0 .3rem !important;
  justify-content: center;
  width: fit-content;
  transition: transform 0.3s ease;
}

.people-card .people-img {
  border: solid 2px var(--main);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  transform-style: preserve-3d;
  object-fit: cover;
}

.people-card .name {
  transform-style: preserve-3d;
  color: var(--text);
  font-size: 1rem;
  line-height: 18px;
  margin: 0 auto;
  font-weight: bold;
}

.people-card .name:hover {
  color: var(--main);
}

@media (max-width: 768px) {
  .people-card {
    margin-bottom: 20px;
  }

  .people-img {
    width: 120px;
    height: 120px;
  }

  .people-card .name {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .people-card {
    margin-bottom: 15px;
  }

  .people-img {
    width: 100px;
    height: 100px;
  }

  .people-card .name {
    font-size: 14px;
  }
}
